
<form #myForm="ngForm" (submit)="addUser()">
 
            <h2>Thea Espiritu</h2>
            <label for="user_name">User Name</label><br>
            <input class="fform" type="text " [(ngModel)]="user_name"
                #name = "ngModel"
                name="user_name"
                [class.invalid]="name.invalid && name.touched"
                required>
            <span *ngIf="name.invalid">Field Required</span><br>
                    
            <label for="user_age">User Age</label><br>
           
            <input class="fform" type="number" [(ngModel)]="user_age"
                #age = "ngModel"  
                name="user_age"
                [class.invalid]="user_age.invalid && age.touched"
                required><br>
            <span *ngIf="age.invalid">Field Required</span>
            <br>
            <button class="btn btn-light" type="submit"> Add User </button>
        
        </form>

  <div class="row">
  <div class="container">
    <h3>Users</h3>
    <table class="table">
        <tr>
          <th>User Name</th><span></span>
          <th>User Age</th><span></span>
          <th>Action</th>
        </tr>
        <tr *ngFor="let u of users">
          <td>{{u.name}}</td><span></span>
          <td>{{u.age}}</td><span></span>
          <td class="td">
            <button (click)="updateUser(u._id)" class="btn-light">Update</button>
            <button (click)="deleteUser(u._id)" class="btn-light">Delete</button>
          </td>
        </tr>
      </table>
</div>
</div>